ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.register-form button {
  margin-top: 1.7em;
  height: 50%;
}

.single-line-truncate {
  width: 90%;            
  white-space: nowrap;    
  overflow: hidden;       
  text-overflow: ellipsis;
}

.search-result {
  max-height: 500px;
  overflow-y: auto;
}

.search-result thead {
  position: sticky;
  top: 0;
}

.search-result .btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 0.2em;
}

.info-btn {
  background-color: white;
  color: #111111;
  border-color: #111111;
}

#deleteModal #confirmDelete,
.delete-btn {
  border-color: #D93526;
  background-color: #D93526;
}

#editModal article {
  width: 100%;
  max-width: 900px;
}

#themeSwitcher {
  position: absolute;
  right: 40px;
  top: 20px;
}

#themeSwitcher:hover {
  cursor: pointer;
}